Django-Pharma/
**/__pycache__/
**/migrations/*
!**/migrations/__init__.py
node_modules/
package-lock.json
node_modules
django-stuff/
django-brush/
staticfiles/
staticfiles/admin/
staticfiles/css/
staticfiles/js/
staticfiles/img/
.env
db.sqlite3
testenv/
sample.py
temp.py
comms.txt
media/
