{% extends 'main_base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 bg-opacity-75">
    <div class="text-center bg-white p-8 rounded-lg shadow-lg">
        <div class="animate-bounce text-6xl text-yellow-500">&#x1F60A;</div>
        <div class="text-3xl text-gray-800 mb-4">Oops! Something went wrong.</div>
        <p class="text-gray-600">{{data}}.</p>
        <a href="/" class="mt-4 text-blue-500 hover:underline">Go back to the homepage</a>
    </div>
</div>

{% endblock %}
