{% extends 'main_base.html' %}
{% load static %}
{% block content %}
<div class="flex-grow bg-gradient-to-r from-green-400 to-blue-500 dark:bg-gradient-to-r dark:from-purple-500 dark:to-indigo-500 text-black dark:text-white p-10">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div>
        <h1 class="text-3xl md:text-5xl font-semibold mb-4">Welcome to Pharmacy Inventory Management</h1>
        <p class="text-lg md:text-xl text-black dark:text-white mb-8">Manage your pharmacy inventory efficiently with our comprehensive solution.</p>
        <p class="text-lg md:text-xl text-black dark:text-white mb-8">Track stock levels, manage suppliers, and streamline operations with ease.</p>
        <a href="#" class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 shadow-lg border border-red-500">Learn More</a>
      </div>
      <div class="mt-4 md:mt-0">
        <img src="{% static 'img/img_home.jpg' %}" alt="Pharmacy Inventory" class="w-full rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 border-2 border-red-500" />
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
      <div class="bg-gray-200 dark:bg-gray-800 p-4 rounded-lg shadow-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'img/gal-1.jpg' %}" alt="Efficient stock tracking" class="w-full h-40 object-cover rounded-lg mb-4 border-2 border-red-500">
        <p class="text-black dark:text-white text-sm">Efficient stock tracking</p>
      </div>
      <div class="bg-gray-200 dark:bg-gray-800 p-4 rounded-lg shadow-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'img/gal-2.jpg' %}" alt="Seamless supplier management" class="w-full h-40 object-cover rounded-lg mb-4 border-2 border-red-500">
        <p class="text-black dark:text-white text-sm">Seamless supplier management</p>
      </div>
      <div class="bg-gray-200 dark:bg-gray-800 p-4 rounded-lg shadow-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'img/gal-3.jpg' %}" alt="Streamlined operations" class="w-full h-40 object-cover rounded-lg mb-4 border-2 border-red-500">
        <p class="text-black dark:text-white text-sm">Streamlined operations</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
