:root {
    --primary-bg-color: #232323;
    --primary-text-color: #ffffff;
    --secondary-bg-color: #333;
    --secondary-text-color: #ccc;
    --accent-color: #3498db;
    --accent-hover-color: #2187c9;
    --additional-text-color: #666;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.form-control {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--secondary-bg-color); /* Remove default border */
}

.form-control:focus {
    border-color: var(--accent-color); /* Highlight border on focus */
    box-shadow: 0 0 5px var(--accent-color); /* Highlight box shadow on focus */
}

.form-label {
    color: var(--secondary-text-color);
}

.btn-primary {
    background-color: var(--accent-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--accent-hover-color);
    transition: background-color 0.3s ease-in-out;
}

/* Custom CSS for toast messages */

.toast {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    
    
}

.toast-container {
    position: fixed !important;
    right: 20px!important;
    z-index: 9999!important;
    width: auto!important;
    text-align: right!important;
  }


