<!-- main_footer.html -->

<footer class="footer-life">
  {% load static %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        <p>&copy; 2023 Pharmacy Inventory Management</p>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <ul class="list-inline">
          <li class="list-inline-item mx-3">
            <a href="#" title="Follow us on Facebook" class="text-primary"
              ><i class="fab fa-facebook fa-2x"></i
            ></a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#" title="Follow us on Twitter" class="text-primary"
              ><i class="fab fa-twitter fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
